
#form{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

#uploadContainer{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

#btnUpload{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.image-context {
    width: 500px;
    height: 300px;
}
